:root {
  --primary: #0f0b19;
  --secondary: #6e85ff;
}

@tailwind base;

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 4px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;
